<po-number class="po-md-6 po-sm-6" p-label="Cód. Ini" [(ngModel)]="codIni"></po-number>
<po-number class="po-md-6 po-sm-6" p-label="Cód. Fim" [(ngModel)]="codFim"></po-number>
<po-datepicker class="po-md-6 po-sm-6" p-label="Data Prest. Ini" [(ngModel)]="dataPrestIni"></po-datepicker>
<po-datepicker class="po-md-6 po-sm-6" p-label="Data Prest. Fim" [(ngModel)]="dataPrestFim"></po-datepicker>
<po-input class="po-md-6 po-sm-6" p-label="Solicitação Ini" [(ngModel)]="solicitacaoIni"></po-input>
<po-input class="po-md-6 po-sm-6" p-label="Solicitação Fim" [(ngModel)]="solicitacaoFim"></po-input>
<po-number class="po-md-6 po-sm-6" p-label="Situação Ini" [(ngModel)]="situacaoIni"></po-number>
<po-number class="po-md-6 po-sm-6" p-label="Situação Fim" [(ngModel)]="situacaoFim"></po-number>