.filtro {
    margin-top: 20px;
}

.cadastrar {
    margin-left: 20px;
}

.widget {
    display: flex;
    justify-content: center;
}

.tabela-reembolso {
    margin-top: 40px;
}

.titulo {
    text-align: center;
    margin-top: 40px;
    color: grey;
}

.tabela-descricao {
    margin-top: 40px;
}